#wa-bubble {
  display: block;
  position: fixed;
  bottom: 20px;
  font-family: "Roboto";
  font-weight: 400;
  z-index: 999999;
}

#wa-bubble.left {
  left: 15px;
}

#wa-bubble.right {
  right: 15px;
}

#wa-bubble.whatsapp-container .whatsapp-container-icon {
  display: block;
}

.whatsapp-icon.small {
  width: 45px;
  height: 45px;
}

.whatsapp-icon.medium {
  width: 55px;
  height: 55px;
}

.whatsapp-icon.big {
  width: 65px;
  height: 65px;
}

#wa-bubble.whatsapp-container .whatsapp-container-icon .whatsapp-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, #25d366 0%, #25d366 100%);
  border-radius: 50%;
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  will-change: border-radius;
}
#wa-bubble.whatsapp-container .whatsapp-container-icon .whatsapp-icon:hover {
  cursor: pointer;
}
#wa-bubble.whatsapp-container .whatsapp-container-icon .whatsapp-icon img {
  fill: #ffffff;
}
#wa-bubble.whatsapp-container .whatsapp-container-icon .whatsapp-icon img.small {
  width: 25px;
  height: 25px;
}
#wa-bubble.whatsapp-container .whatsapp-container-icon .whatsapp-icon img.medium {
  width: 30px;
  height: 30px;
}
#wa-bubble.whatsapp-container .whatsapp-container-icon .whatsapp-icon img.big {
  width: 40px;
  height: 40px;
}

.animation-morph {
  animation: morph 5s linear infinite;
}

@keyframes morph {
  0%, 100% {
    border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    transform: translate(0) rotate(0.02deg);
  }
  34% {
    border-radius: 70% 30% 46% 54%/30% 29% 71% 70%;
    transform: translateY(5px) rotate(0.02deg);
  }
  50% {
    transform: translate(0) rotate(0.02deg);
  }
  67% {
    border-radius: 100% 60% 60% 100%/100% 100% 60% 60%;
    transform: translateY(-3px) rotate(0.02deg);
  }
}
.animation-pulse {
  animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}
.wa-bubble.whatsapp-popup-container {
  width: 100%;
  position: relative;
}

.wa-bubble.whatsapp-popup-box {
  width: 350px;
  border-radius: 25px;
  background-color: #FAFAFA;
  box-shadow: 0px 1px 2px 0px #eaeaea;
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  border: 1px solid #eaeaea;
  transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1), visibility 500ms cubic-bezier(0.215, 0.61, 0.355, 1), opacity 300ms ease-in;
}

.wa-bubble.whatsapp-popup-box.show {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translateY(0) scale(1);
}

.wa-bubble.whatsapp-popup-box.right {
  left: -295px;
  bottom: 15px;
}

.wa-bubble.whatsapp-popup-box.left {
  right: -295px;
  bottom: 15px;
}

.wa-bubble.whatsapp-popup-header {
  background-image: linear-gradient(120deg, #0A695DFF 0%, #095E54FF 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  line-height: 21px;
}
.wa-bubble.whatsapp-popup-header .agent-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
}
.wa-bubble.whatsapp-popup-header .agent-image:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #4ad504;
  position: absolute;
  bottom: 3px;
  right: 2px;
}
.wa-bubble.whatsapp-popup-header .agent-image img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
}
.wa-bubble.whatsapp-popup-header .popup-header {
  color: #ffffff;
  margin: 0;
  display: block;
  font-size: 20px;
}
.wa-bubble.whatsapp-popup-header .popup-header .popup-header-description {
  display: block;
  font-size: 11px;
}
.wa-bubble.whatsapp-popup-header .close-popup {
  color: #ffffff;
  margin: 0;
}
.wa-bubble.whatsapp-popup-header .close-popup img {
  width: 16px;
  height: 16px;
}
.wa-bubble.whatsapp-popup-header .close-popup:hover {
  cursor: pointer;
}

.whatsapp-popup-header-info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.wa-bubble.whatsapp-popup-content {
  background-color: #f8f8f8;
}
.wa-bubble.whatsapp-popup-content .whatsapp-animation-content {
  background-color: #e6ddd4;
  padding: 15px 15px 15px 30px;
  min-height: 150px;
  position: relative;
  z-index: 2;
}
.wa-bubble.whatsapp-popup-content .whatsapp-animation-content:after {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("../img/whatsapp.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
}
.wa-bubble.whatsapp-popup-content .whatsapp-animation-content .animation-before {
  z-index: 10;
  background-color: #FFFFFF;
  display: flex;
  width: 80px;
  padding: 15px;
  justify-content: center;
  border-radius: 35px;
}
.wa-bubble.whatsapp-popup-content .whatsapp-content-description {
  background-color: #FFFFFF;
  display: none;
  flex-direction: column;
  width: 250px;
  padding: 15px;
  border-radius: 0px 5px 5px 5px;
  position: relative;
}
.wa-bubble.whatsapp-popup-content .whatsapp-content-description p {
  margin: 0px;
}
.wa-bubble.whatsapp-popup-content .whatsapp-content-description .popup-message {
  margin: 0px;
  font-size: 15px;
}
.wa-bubble.whatsapp-popup-content .whatsapp-content-description:before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  left: -24px;
  width: 24px;
  height: 38px;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-size: auto;
}
.wa-bubble.whatsapp-popup-content .whatsapp-content-description .name-agent {
  color: #25d366;
  font-weight: 500;
  font-size: 15px;
}
.wa-bubble.whatsapp-popup-content .whatsapp-content-description .show-the-time {
  text-align: right;
  font-size: 13px;
  opacity: 0.6;
}
.wa-bubble.whatsapp-popup-content .whatsapp-enter-text {
  padding: 15px 15px 0 15px;
}
.wa-bubble.whatsapp-popup-content .whatsapp-enter-text #popup-text-message {
  border-radius: 10px;
  width: 100%;
  height: 60px;
  background-color: white;
  border: 1px solid #cfcfcf;
  padding: 15px;
  color: #626262;
}

/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #bbbbbb;
  color: #bbbbbb;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #bbbbbb;
  color: #bbbbbb;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #bbbbbb;
  color: #bbbbbb;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #bbbbbb;
  }
  50%, 100% {
    background-color: rgba(187, 187, 187, 0.2);
  }
}
.wa-bubble.whatsapp-popup-footer {
  padding: 10px 15px 10px 15px;
  background-color: #f8f8f8;
}
.wa-bubble.whatsapp-popup-footer .popup-submit-button {
  display: inline-flex;
  align-items: center;
  background-color: #25d366;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 30px 15px 30px;
  border-radius: 100px;
  transition: all 0.3s;
}
.wa-bubble.whatsapp-popup-footer .popup-submit-button:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: #128c7e;
}
.wa-bubble.whatsapp-popup-footer .popup-submit-button:visited {
  color: #FFFFFF;
  text-decoration: none;
}
.wa-bubble.whatsapp-popup-footer .popup-submit-button img {
  margin-right: 10px;
}
.wa-bubble.whatsapp-popup-footer .full {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=frontend.css.map */
